@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css");
* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(#6CC4A1);
}

h1, h2, h3 {
  color: #6CC4A1;
}

p, span, small, h3 {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

@media (min-width: 300px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3% 5%;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 2px -2px gainsboro;
    z-index: 1;
    position: fixed;
  }
  nav > a {
    font-family: "Libre Baskerville", serif;
    text-transform: uppercase;
    font-size: 28px;
    margin: 0;
    color: #6CC4A1;
    letter-spacing: -1px;
  }
  nav > a:hover {
    color: #6CC4A1;
  }
  nav > ul {
    display: none;
  }
  details {
    position: relative;
    text-align: right;
    width: 70%;
  }
  details > summary {
    list-style-type: none;
    font-size: 28px;
    color: #6CC4A1;
  }
  details > ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 160%;
    width: 100%;
    border-radius: 20px;
    z-index: 1;
  }
  details li {
    display: flex;
    width: 100%;
    list-style: none;
    background-color: rgba(108, 196, 161, 0.9);
  }
  details li:last-child a {
    border-bottom: none;
  }
  details li a {
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 3% 5%;
    border-bottom: 1px solid white;
    letter-spacing: 0.5px;
    font-size: 18px;
    font-weight: 100;
  }
  details li a:hover {
    color: white;
    text-decoration: underline;
  }
  header {
    background-image: url("/img/header-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
  }
  header section {
    height: 100%;
    background-color: rgba(51, 51, 51, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header section h2 {
    margin: 0;
    padding-top: 7vh;
    color: whitesmoke;
    font-size: 28px;
    text-transform: capitalize;
    text-align: center;
  }
  header section p {
    margin: 0;
    color: #6CC4A1;
    text-transform: capitalize;
    padding-top: 0.5vh;
    padding-bottom: 5vh;
  }
  header section a {
    background-color: #4CACBC;
    color: white;
    padding: 2% 4%;
    border: 2px solid #4CACBC;
    border-radius: 10px;
    transition: 0.4s;
  }
  header section a:hover {
    background-color: transparent;
    color: white;
    transition: 0.4s;
    border: 2px solid #4CACBC;
  }
  main {
    display: flex;
    flex-direction: column;
  }
  main > section {
    display: flex;
    flex-direction: column;
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 5%;
    padding-right: 5%;
  }
  main > section:nth-child(even) {
    background-color: #F6E3C5;
  }
  footer {
    background-color: white;
    padding: 5% 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5vh;
  }
  footer ul {
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding-top: 3%;
    padding-bottom: 5%;
  }
  footer a {
    font-size: 24px;
    color: #6CC4A1;
  }
  footer p {
    margin: 0;
    color: #6CC4A1;
    font-size: 14px;
    text-align: center;
  }
  img {
    width: 100%;
  }
  .section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
  .section-title h2 {
    font-weight: 600;
    text-align: center;
  }
  .section-title p {
    font-size: 16px;
    text-align: center;
    color: dimgray;
  }
  .series {
    padding-top: 25%;
  }
  .series div {
    display: block;
  }
  .series p {
    color: dimgray;
  }
  .port-row {
    display: flex;
  }
  .port-row h3 {
    padding: 2%;
    font-size: 20px;
  }
  .port-row > div {
    padding-bottom: 10%;
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1055;
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
  }
  .fade {
    transition: opacity 0.15s linear;
  }
  .portfolio-modal .modal-dialog {
    margin: 1rem;
    max-width: 100vw;
  }
  .portfolio-modal .modal-content {
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
  }
  .portfolio-modal .modal-content h2, .portfolio-modal .modal-content .h2 {
    font-size: 3rem;
    line-height: 3rem;
  }
  .portfolio-modal .modal-content p.item-intro {
    font-style: italic;
    margin-bottom: 2rem;
  }
  .portfolio-modal .modal-content p {
    margin-bottom: 2rem;
  }
  .portfolio-modal .modal-content ul.list-inline {
    margin-bottom: 2rem;
  }
  .portfolio-modal .modal-content img {
    margin-bottom: 2rem;
  }
  .btn-primary {
    color: white;
    background-color: #6CC4A1;
    border: 2px solid #6CC4A1;
  }
  .btn-primary:hover {
    color: #6CC4A1 !important;
    background-color: white !important;
    border: 2px solid #6CC4A1 !important;
  }
  .schedule h3 {
    font-size: 22px;
  }
  .schedule span {
    font-size: 18px;
    color: #A0D995;
  }
  .schedule figure {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  .schedule figure > div {
    width: 50vh;
    height: 50vh;
    background-color: white;
    display: flex;
    align-items: center;
  }
  .schedule figcaption {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  .schedule-body {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  .schedule-body p {
    color: dimgray;
  }
  .news {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .news-body > article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 30px;
  }
  .news-body figure {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  .news-body figcaption {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .news-body span {
    font-size: 18px;
    color: #A0D995;
  }
  .news-body p {
    color: dimgray;
  }
  .news-body a {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: #4CACBC;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    border: 2px solid #4CACBC;
    transition: 0.4s;
  }
  .news-body a:hover {
    border: 2px solid #4CACBC;
    background-color: #F6E3C5;
    color: #4CACBC;
    transition: 0.4s;
  }
  .news-body > article:last-child {
    padding-top: 10%;
  }
  .news-body [value="view more articles"] {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 5%;
    color: white;
    font-weight: 600;
    background-color: #A0D995;
    border: 2px solid #A0D995;
    border-radius: 5px;
    transition: 0.4s;
    text-transform: uppercase;
  }
  .news-body [value="view more articles"]:hover {
    border: 2px solid #A0D995;
    background-color: #F6E3C5;
    color: #A0D995;
    transition: 0.4s;
  }
  .contact {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    background-color: #4CACBC;
  }
  .contact > article:first-child {
    background-color: #F6E3C5;
    padding: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 3vh;
  }
  .contact > article:first-child h2 {
    padding-top: 3%;
    margin: 0;
    font-size: 21px;
    color: #6CC4A1;
    font-weight: 600;
  }
  .contact > article:first-child p {
    margin: 0;
    padding-bottom: 3%;
    color: #555;
  }
  .contact > article:last-child {
    display: flex;
    flex-direction: column;
    row-gap: 10vh;
    background-color: #4CACBC;
    padding: 10%;
  }
  .contact section {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    align-items: center;
    justify-content: center;
  }
  .contact section form {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    align-items: flex-end;
  }
  .contact section input, .contact section textarea {
    width: 100%;
    padding: 2%;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid white;
    background-color: #4CACBC;
  }
  .contact section input::-moz-placeholder, .contact section textarea::-moz-placeholder {
    color: white;
  }
  .contact section input:-ms-input-placeholder, .contact section textarea:-ms-input-placeholder {
    color: white;
  }
  .contact section input::placeholder, .contact section textarea::placeholder {
    color: white;
  }
  .contact section textarea {
    height: 30vh;
  }
  .contact section [type=submit] {
    width: 60%;
    background-color: #F6E3C5;
    color: #4CACBC;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    padding: 3% 1%;
    font-weight: 600;
  }
  .contact section h3 {
    margin: 0;
    color: white;
    text-transform: uppercase;
  }
  .contact section address, .contact section a {
    margin: 0;
    color: white;
    text-align: center;
    font-size: 18px;
  }
}
@media (min-width: 700px) {
  details {
    width: 40%;
  }
  details summary {
    font-size: 34px;
  }
  details li a {
    font-size: 20px;
  }
  header > section > h2 {
    font-size: 33px;
  }
  header > section > p {
    font-size: 22px;
  }
  header > section > a {
    font-size: 20px;
  }
  main > section {
    padding-top: 10%;
    padding-bottom: 10%;
    row-gap: 30px;
  }
  footer a {
    font-size: 30px;
  }
  footer p {
    font-size: 20px;
  }
  .section-title p {
    font-size: 20px;
  }
  .series {
    padding-top: 10%;
  }
  .series div {
    display: flex;
  }
  .series-body {
    width: 100%;
  }
  .series-body > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .port-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .port-row > div {
    width: 30%;
    padding-bottom: 0;
  }
  .port-item {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .port-caption h3 {
    width: 100%;
    text-align: center;
  }
  .port-link {
    position: relative;
  }
  .port-link > aside {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(108, 196, 161, 0.7);
    top: 0;
    left: 0;
    color: #F6E3C5;
    text-align: center;
    opacity: 0;
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .port-link:hover > aside, .port-link:focus > aside {
    opacity: 1;
  }
  .schedule-body figure {
    flex-direction: row;
    -moz-column-gap: 50px;
         column-gap: 50px;
    align-items: center;
    justify-content: center;
  }
  .schedule-body figure > div {
    width: 50%;
    height: 25vh;
  }
  .schedule-body figure img {
    width: 100%;
    height: 100%;
  }
  .schedule-body figure figcaption {
    width: 50%;
  }
  .schedule-body figure p {
    font-size: 18px;
  }
  .news-body span {
    font-size: 24px;
  }
  .news-body p {
    font-size: 20px;
  }
  .news-body a {
    width: 30%;
    font-size: 22px;
  }
  .news-body [value="view more articles"] {
    font-size: 22px;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .contact > article:first-child h2 {
    font-size: 26px;
  }
  .contact > article:first-child p {
    font-size: 20px;
  }
  .contact form input, .contact form textarea {
    font-size: 20px;
  }
  .contact form [type=submit] {
    width: 35%;
  }
}
@media (min-width: 1000px) {
  nav {
    padding: 1% 5%;
  }
  nav > a {
    font-size: 40px;
  }
  nav > ul {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  nav > ul li {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
  }
  nav > ul a {
    font-size: 20px;
    padding: 5%;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    text-align: center;
    color: #6CC4A1;
  }
  nav > ul a:hover {
    background-color: #6CC4A1;
    color: white;
  }
  details {
    display: none;
  }
  header {
    height: 80vh;
  }
  header > section {
    padding-top: 10%;
  }
  header > section h2 {
    font-size: 50px;
  }
  header > section a {
    padding: 1% 2%;
  }
  main > section {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  footer {
    padding: 1% 3%;
  }
  footer ul {
    width: 25%;
    padding-top: 3%;
    padding-bottom: 3%;
  }
  footer ul a {
    font-size: 55px;
  }
  .section-title h2 {
    font-size: 46px;
  }
  .series {
    padding-top: 5%;
  }
  .series h3 {
    font-size: 24px;
  }
  .port-link aside {
    font-size: 26px;
  }
  .schedule-body figure:nth-child(even) {
    flex-direction: row-reverse;
  }
  .schedule-body figure div {
    width: 20%;
  }
  .schedule-body figcaption h3 {
    font-size: 35px;
  }
  .schedule-body figcaption span {
    font-size: 25px;
  }
  .gallery-body {
    display: flex;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .news {
    row-gap: 60px;
  }
  .news-body figure {
    width: 20%;
  }
  .news-body h3 {
    height: 14vh;
  }
  .news-body span {
    height: 3vh;
  }
  .news-body a {
    width: 55%;
  }
  .news-body p {
    height: 35vh;
    line-height: 2;
  }
  .news-body [value="view more articles"] {
    padding: 1% 3%;
  }
  .contact article:first-child h2 {
    font-size: 46px;
  }
  .contact h3 {
    font-size: 35px;
  }
  .contact article:last-child {
    flex-direction: row;
    -moz-column-gap: 50px;
         column-gap: 50px;
    padding: 2% 10%;
  }
  .contact article:last-child section:first-child {
    width: 50%;
  }
  .contact article:last-child section:last-child {
    width: 55%;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .contact article:last-child address {
    text-align: left;
  }
}/*# sourceMappingURL=cycling.css.map */