@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css");
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  row-gap: 0;
  align-items: unset;
}

main {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  row-gap: 0;
  align-items: unset;
  row-gap: 10vh;
}
main > section {
  display: flex;
  flex-direction: column;
  row-gap: 0;
  align-items: unset;
  background-color: #F6E3C5;
  padding: 10% 5%;
}

h2 {
  font-size: 30px;
  text-transform: uppercase;
  color: #6CC4A1;
  font-weight: 600;
}

h3, h4 {
  text-transform: capitalize;
  font-size: 25px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

@media (min-width: 300px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3% 5%;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 2px -2px gainsboro;
    z-index: 1;
    position: fixed;
  }
  nav > a {
    text-transform: uppercase;
    font-family: "Libre Baskerville", serif;
    font-size: 28px;
    margin: 0;
    color: #6CC4A1;
    letter-spacing: -1px;
  }
  nav > a:hover {
    color: #6CC4A1;
  }
  nav > ul {
    display: none;
  }
  details {
    position: relative;
    text-align: right;
    width: 50%;
  }
  details > summary {
    list-style: none;
  }
  details > summary i {
    font-size: 28px;
    color: #6CC4A1;
  }
  details > ul {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    align-items: unset;
    position: absolute;
    top: 160%;
    width: 100%;
    border-radius: 20px;
    z-index: 1;
  }
  details li {
    display: flex;
    width: 100%;
    list-style: none;
    background-color: rgba(108, 196, 161, 0.9);
  }
  details li:last-child a {
    border-bottom: none;
  }
  details a {
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 3% 5%;
    border-bottom: 1px solid white;
    letter-spacing: 0.5px;
    font-size: 18px;
    font-weight: 100;
  }
  details a:hover {
    color: white;
    text-decoration: underline;
  }
  header {
    background-image: url("/img/fishing/bg-header.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 45vh;
  }
  header section {
    height: 100%;
    background-color: rgba(51, 51, 51, 0.3);
    display: flex;
    flex-direction: column;
    row-gap: 0;
    align-items: unset;
    justify-content: center;
    align-items: center;
  }
  header section h2 {
    margin: 0;
    padding-top: 7vh;
    color: whitesmoke;
    font-size: 28px;
    text-transform: capitalize;
  }
  header section p {
    margin: 0;
    color: #6CC4A1;
    text-transform: capitalize;
    padding-top: 0.5vh;
    padding-bottom: 5vh;
  }
  header section a {
    background-color: #4CACBC;
    color: white;
    padding: 2% 4%;
    border-radius: 10px;
  }
  header section a:hover {
    color: white;
  }
  main {
    padding-bottom: 10vh;
  }
  main > nav {
    display: none;
  }
  main > section {
    row-gap: 5vh;
  }
  p {
    font-size: 20px;
    color: gray;
  }
  img {
    width: 100%;
    height: 30vh;
    border-radius: 15px;
  }
  .tytle-section {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    align-items: unset;
    justify-content: center;
    width: 100%;
    row-gap: 3vh;
  }
  .tytle-section h2 {
    text-align: center;
  }
  .tytle-section p {
    text-align: center;
  }
  .about {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    align-items: unset;
    align-items: center;
    row-gap: 5vh;
  }
  .about > article:last-child {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    align-items: unset;
    row-gap: 5vh;
  }
  .about > article:last-child figure {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    align-items: unset;
    row-gap: 5vh;
  }
  .about > article:last-child img {
    width: 100%;
  }
  .about > article:last-child p {
    text-align: justify;
  }
  .style {
    width: 100%;
  }
  .style > article:last-child {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    align-items: unset;
    align-items: center;
    width: 100%;
  }
  .style figure {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    align-items: unset;
    row-gap: 2vh;
    padding: 2vh;
    border: 1px solid gray;
    row-gap: 0;
    width: 100%;
  }
  .style figure aside {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    align-items: unset;
    justify-content: center;
    align-items: center;
  }
  .style figure figcaption {
    display: none;
  }
  .style img {
    position: relative;
    height: 30vh;
  }
  .style h3 {
    position: absolute;
    color: white;
    padding: 1%;
    background-color: rgba(80, 80, 80, 0.3);
  }
  .how-to h3 {
    background-color: #6CC4A1;
    border-radius: 15px;
    width: 50%;
    padding: 2vh;
    text-align: center;
  }
  .tools, .attention {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    align-items: unset;
    align-items: center;
    row-gap: 3vh;
    width: 100%;
  }
  .tools > section {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    align-items: unset;
    row-gap: 2vh;
  }
  .tools figure {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    align-items: unset;
    row-gap: 2vh;
    align-items: center;
    margin: 0;
  }
  .tools img {
    width: 100%;
    border-radius: 15px;
  }
  .tools figcaption {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    align-items: unset;
    align-items: center;
    width: 100%;
  }
  .tools h4 {
    text-align: center;
    width: 100%;
    padding: 1vh;
    border-radius: 15px;
    width: 70%;
    margin: 0;
    background-color: #A0D995;
  }
  .attention > section {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    align-items: unset;
    row-gap: 5vh;
    padding-left: 5%;
    padding-right: 5%;
  }
  .attention div {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    align-items: unset;
    align-items: center;
    text-align: center;
    border: 1px dashed red;
    background-color: #A0D995;
  }
  .attention h5 {
    font-size: 20px;
    color: red;
    background-color: yellow;
    width: 100%;
  }
  .carousel-indicators {
    z-index: 0;
  }
  .carousel-item {
    height: 80vh;
  }
  .carousel-item:first-child {
    padding-top: 24vh;
  }
  .carousel-item:first-child > img {
    width: 100%;
    height: 30vh;
  }
  .carousel-item:nth-child(2) > img {
    width: 100%;
    height: 70vh;
  }
  .carousel-item:nth-child(3) > img {
    width: 100%;
    height: 70vh;
  }
  .carousel-item:nth-child(4) > img {
    width: 100%;
    height: 70vh;
  }
  .carousel-item:last-child > img {
    width: 100%;
    height: 70vh;
  }
  .news > article:last-child {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    align-items: unset;
    border: 1px solid gray;
  }
  .news div {
    display: flex;
    justify-content: space-between;
    column-gap: 2vh;
    border-bottom: 1px solid gray;
    align-items: center;
    background-color: white;
  }
  .news time {
    padding: 1vh;
    border-right: 1px solid gray;
  }
  .news a {
    padding: 1vh;
    text-decoration: underline;
  }
  .news a:hover {
    color: #A0D995;
    transition: 1s;
  }
  footer {
    background-color: white;
    padding: 5% 3%;
    display: flex;
    flex-direction: column;
    row-gap: 0;
    align-items: unset;
    align-items: center;
    row-gap: 0.5vh;
  }
  footer ul {
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding-top: 3%;
    padding-bottom: 5%;
  }
  footer a {
    font-size: 24px;
    color: #6CC4A1;
  }
  footer p {
    margin: 0;
    color: #6CC4A1;
    font-size: 14px;
    text-align: center;
  }
}
@media (min-width: 700px) {
  nav > a {
    font-size: 40px;
  }
  nav > ul {
    width: 50%;
    display: none;
    justify-content: space-between;
    margin: 0;
  }
  nav > ul a {
    text-transform: uppercase;
    color: #6CC4A1;
  }
  nav > ul a:hover {
    color: #6CC4A1;
    text-decoration: underline;
  }
  details {
    display: block;
  }
  details > summary i {
    font-size: 40px;
  }
  details > ul {
    top: 187%;
  }
  header section h2 {
    font-size: 40px;
    font-family: "Libre Baskerville", serif;
    text-transform: none;
    letter-spacing: 0.5px;
  }
  header section p {
    font-size: 21px;
    padding-bottom: 4vh;
  }
  header section a {
    font-size: 18px;
    padding: 1% 2%;
  }
  p {
    font-size: 25px;
  }
  .about img {
    height: 40vh;
  }
  .style article:last-child > figure {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 2vh;
  }
  .style article:last-child aside {
    width: 60%;
  }
  .style article:last-child figcaption {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    align-items: unset;
    width: 40%;
    justify-content: center;
    border: 1px solid gray;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 15px;
  }
  .style article:last-child figcaption > p {
    margin: 0;
  }
  .how-to h3 {
    font-size: 40px;
    padding: 3% 1%;
  }
  .tools > section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .tools figure {
    width: 48%;
    align-items: unset;
  }
  .carousel-caption h5 {
    color: #4CACBC;
    text-transform: capitalize;
  }
  .attention h5 {
    font-size: 30px;
    padding: 1vh;
  }
  .attention p {
    font-size: 25px;
  }
  .news time, .news a {
    font-size: 20px;
  }
}
@media (min-width: 1000px) {
  nav {
    padding: 0.5% 3%;
  }
  nav > a {
    font-size: 28px;
  }
  nav > ul {
    display: flex;
    width: 45%;
    padding: 0;
    padding-right: 3%;
  }
  nav > ul li {
    list-style: none;
  }
  nav > ul a {
    font-size: 16px;
  }
  details {
    display: none;
  }
  header {
    height: 60vh;
  }
  header section p {
    padding-bottom: 9vh;
  }
  header section a {
    padding: 0.8% 1.6%;
    border-radius: 20px;
    transition: 0.4s;
  }
  header section a:hover {
    background-color: #6CC4A1;
  }
  .about > article:last-child figure {
    width: 100%;
    display: flex;
    flex-direction: row;
    row-gap: 0;
    justify-content: space-between;
    column-gap: 2vh;
    align-items: center;
  }
  .about > article:last-child img {
    width: 50%;
    height: 60vh;
    float: left;
  }
  .about > article:last-child figcaption {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    align-items: unset;
    justify-content: center;
    padding-left: 3%;
    padding-right: 3%;
    border: 1px solid gray;
    border-radius: 15px;
    height: 60vh;
  }
  .about > article:last-child p {
    margin: 0;
  }
  .style img {
    height: 40vh;
  }
  .tools figure {
    width: 30%;
  }
  .tools img {
    width: 100%;
  }
  .pictures {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    align-items: unset;
    justify-content: center;
    align-items: center;
  }
  #carouselExampleDark {
    height: 80vh;
  }
  .carousel-item {
    width: 100%;
  }
  .carousel-item:first-child {
    padding-left: 30vh;
    padding-right: 30vh;
  }
  .carousel-item:first-child > img {
    width: 100%;
    height: 35vh;
  }
  .carousel-item:nth-child(2) > img {
    width: 30vh;
    height: 75%;
  }
  .carousel-item:nth-child(3) > img {
    width: 30vh;
    height: 75%;
  }
  .carousel-item:nth-child(4) > img {
    width: 30vh;
    height: 75%;
  }
  .carousel-item:last-child > img {
    width: 30vh;
    height: 75%;
  }
  .carousel-caption h5 {
    color: #4CACBC;
  }
  .carousel-control-prev {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    align-items: unset;
    justify-content: center;
  }
  .news > article:last-child {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    align-items: unset;
    border: 1px solid gray;
  }
  .news time {
    width: 20%;
    text-align: center;
  }
  .news a {
    width: 80%;
    text-align: center;
  }
  footer {
    padding: 2% 1%;
  }
  footer ul {
    width: 30%;
    padding: 1%;
    padding-top: 0;
  }
  footer ul li {
    list-style: none;
  }
  footer ul a {
    transition: 0.3s;
  }
  footer ul a:hover {
    color: #4CACBC;
  }
}/*# sourceMappingURL=fishing.css.map */