@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

main {
  display: flex;
  flex-direction: column;
  padding-top: 5vh;
  row-gap: 3vh;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes re-rotate {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@media (min-width: 300px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3% 5%;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 2px -2px gainsboro;
    z-index: 1;
    position: fixed;
  }
  nav > a {
    text-transform: uppercase;
    font-family: "Libre Baskerville", serif;
    font-size: 28px;
    margin: 0;
    color: #6CC4A1;
    letter-spacing: -1px;
  }
  nav > a:hover {
    color: #6CC4A1;
  }
  nav > ul {
    display: none;
  }
  details {
    position: relative;
    text-align: right;
    width: 50%;
  }
  details > summary {
    list-style: none;
  }
  details > summary i {
    font-size: 28px;
    color: #6CC4A1;
  }
  details > ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 160%;
    width: 100%;
    border-radius: 20px;
    z-index: 1;
  }
  details li {
    display: flex;
    width: 100%;
    list-style: none;
    background-color: rgba(108, 196, 161, 0.9);
  }
  details li:last-child a {
    border-bottom: none;
  }
  details a {
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 3% 5%;
    border-bottom: 1px solid white;
    letter-spacing: 0.5px;
    font-size: 18px;
    font-weight: 100;
  }
  details a:hover {
    color: white;
    text-decoration: underline;
  }
  header {
    position: relative;
    padding-top: 5vh;
  }
  .carousel-inner {
    height: 40vh;
  }
  .carousel-inner aside {
    width: 100%;
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .carousel-inner figure:nth-child(1) aside {
    background-image: url("/img/home/cycling01.jpg");
  }
  .carousel-inner figure:nth-child(2) aside {
    background-image: url("/img/home/fishing01.jpg");
  }
  .carousel-inner figure:nth-child(3) aside {
    background-image: url("/img/home/workout01.jpg");
  }
  .text-hd {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 14%;
    text-align: center;
  }
  .text-hd article {
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3.5vh;
  }
  .text-hd article:first-child {
    display: none;
  }
  .text-hd h2 {
    margin: 0;
    color: #6CC4A1;
    font-size: 26px;
    font-weight: 300;
    padding-top: 2%;
  }
  .text-hd p {
    margin: 0;
    color: whitesmoke;
    width: 90%;
    text-align: center;
    font-weight: 300;
  }
  .text-hd a {
    background-color: #4CACBC;
    color: white;
    padding: 2% 4%;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
  .about > figure {
    background-color: #F6E3C5;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .about > figure aside {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/img/home/about.jpg");
    width: 100%;
    height: 30vh;
  }
  .about > figure figcaption {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    padding: 7% 5%;
  }
  .about > figure h2 {
    padding-top: 3%;
    margin: 0;
    font-size: 21px;
    color: #333;
    font-weight: 600;
  }
  .about > figure p {
    margin: 0;
    padding-bottom: 3%;
    color: #555;
  }
  .hobbies {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
  }
  .hobbies article > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 3vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5vh 3vh 3vh 3vh;
  }
  .hobbies article aside {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 30vh;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .hobbies article:nth-child(1) aside {
    background-image: url("/img/home/cycling02.jpg");
  }
  .hobbies article:nth-child(2) aside {
    background-image: url("/img/home/fishing02.jpg");
  }
  .hobbies article:nth-child(3) aside {
    background-image: url("/img/home/workout02.jpg");
  }
  .hobbies article [aria-expanded=true] i {
    font-size: 40px;
    color: #A0D995;
    animation-name: rotate;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
  }
  .hobbies article [aria-expanded=false] i {
    font-size: 40px;
    color: whitesmoke;
    animation-name: re-rotate;
    animation-duration: 0.2s;
    animation-fill-mode: backwards;
  }
  .hobbies h2 {
    font-size: 26px;
    color: #6CC4A1;
    margin: 0;
    text-transform: capitalize;
    font-weight: 300;
  }
  .hobbies p {
    border-radius: 0;
    row-gap: 3vh;
    align-items: center;
    font-size: 16px;
    color: #555;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
  }
  .hobbies p a {
    text-transform: uppercase;
    color: #6CC4A1;
  }
  .cycling {
    background-image: url("/img/home/cycling_texture.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .fishing {
    background-image: url("/img/home/fishing_texture.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .workout {
    background-image: url("/img/home/workout_texture.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .faqs {
    display: flex;
    flex-direction: column;
  }
  .faqs > article:first-child {
    background-color: #F6E3C5;
    padding: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 3vh;
  }
  .faqs > article:first-child h2 {
    padding-top: 3%;
    margin: 0;
    font-size: 21px;
    color: #333;
    font-weight: 600;
  }
  .faqs > article:first-child p {
    margin: 0;
    padding-bottom: 3%;
    color: #555;
  }
  .faqs > article:last-child {
    padding: 5%;
    background-color: #A0D995;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3vh;
  }
  .faqs .accordion-item {
    border-color: transparent;
    border-bottom: 2px solid #A0D995;
  }
  .faqs .accordion-item:last-child {
    border: none;
  }
  .faqs .accordion {
    width: 100%;
  }
  .faqs .accordion-button {
    padding: 5% 3%;
    font-size: 18px;
    color: #555;
    font-weight: 600;
  }
  footer {
    background-color: white;
    padding: 5% 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5vh;
  }
  footer ul {
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding-top: 3%;
    padding-bottom: 5%;
  }
  footer a {
    font-size: 24px;
    color: #6CC4A1;
  }
  footer p {
    margin: 0;
    color: #6CC4A1;
    font-size: 14px;
    text-align: center;
  }
}
@media (min-width: 700px) {
  nav > a {
    font-size: 40px;
  }
  nav > ul {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  nav > ul a {
    text-transform: uppercase;
    color: #6CC4A1;
  }
  nav > ul a:hover {
    color: #6CC4A1;
    text-decoration: underline;
  }
  details {
    display: none;
  }
  .text-hd {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .text-hd article {
    width: 45%;
    padding-top: 8%;
  }
  .text-hd article:first-child {
    display: block;
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3.5vh;
    padding-top: 8%;
  }
  .about > figure {
    flex-direction: row;
  }
  .about > figure aside {
    width: 50%;
  }
  .about > figure figcaption {
    width: 50%;
  }
  .hobbies article > section {
    height: 35vh;
    justify-content: right;
    align-items: flex-end;
    padding: 2.5vh 1.5vh;
  }
  .hobbies article aside {
    position: absolute;
    width: 40%;
    height: 20vh;
    left: 4%;
    margin-top: 5%;
    border-radius: 10px;
  }
  .hobbies article h2 {
    width: 55%;
    text-align: center;
  }
  .hobbies article a {
    position: absolute;
    left: 22.2%;
    margin-top: 37%;
  }
  .hobbies article div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-end;
    position: absolute;
    margin-top: 5%;
  }
  .hobbies .card-body {
    width: 100%;
    margin: 0;
    row-gap: 1vh;
  }
  .hobbies .card-body a {
    position: inherit;
    margin-top: 0;
    left: unset;
  }
  .hobbies .cycling, .hobbies .fishing, .hobbies .workout {
    height: 35vh;
  }
  .faqs {
    flex-direction: row;
  }
  .faqs > article {
    width: 50%;
  }
  .faqs > article:first-child {
    padding: 3%;
  }
  .faqs > article:first-child h2 {
    padding: 0;
  }
  .faqs > article:last-child {
    display: flex;
    flex-direction: column;
    padding: 3%;
    justify-content: center;
    align-items: center;
    row-gap: 2vh;
  }
  .faqs > article:last-child h2 {
    margin: 0;
    font-size: 21px;
    color: #333;
    font-weight: 600;
  }
  .faqs > article:last-child .accordion {
    width: 100%;
  }
  footer ul {
    width: 50%;
    padding-bottom: 3%;
  }
  footer a {
    font-size: 40px;
  }
  footer p {
    font-size: 18px;
  }
}
@media (min-width: 1000px) {
  nav {
    padding: 0.5% 3%;
  }
  nav > a {
    font-size: 28px;
  }
  nav > ul {
    width: 30%;
    padding: 0;
    padding-right: 3%;
  }
  nav > ul a {
    font-size: 16px;
  }
  header .carousel-inner {
    height: 60vh;
  }
  header .carousel-inner aside {
    height: 60vh;
  }
  .text-hd {
    height: 60vh;
    margin-top: 5vh;
    padding-top: 1.5%;
    justify-content: space-between;
  }
  .text-hd > article {
    padding-left: 0;
    padding-right: 0;
  }
  .text-hd > article p {
    width: 65%;
  }
  .text-hd > article a {
    padding: 1% 3%;
    border-radius: 20px;
    transition: 0.3s;
  }
  .text-hd > article a:hover {
    background-color: #6CC4A1;
  }
  .about > figure {
    height: 100%;
  }
  .about > figure aside {
    width: 40%;
    height: 50vh;
  }
  .about > figure figcaption {
    width: 60%;
    align-items: center;
  }
  .about > figure h2 {
    width: 80%;
  }
  .about > figure p {
    width: 70%;
  }
  .hobbies article aside {
    width: 35%;
    height: 35vh;
    margin: 0;
  }
  .hobbies article h2 {
    font-weight: 200;
    font-size: 36px;
  }
  .hobbies article a {
    margin-top: 18.5%;
    left: 20%;
  }
  .hobbies article p {
    font-size: 18px;
    line-height: 2;
  }
  .hobbies .cycling, .hobbies .fishing, .hobbies .workout {
    height: 50vh;
  }
  .hobbies .cycling section, .hobbies .fishing section, .hobbies .workout section {
    height: 50vh;
    padding: 3% 5%;
  }
  .hobbies .card-body {
    position: relative;
  }
  .hobbies .card-body a {
    position: absolute;
    width: fit-content;
    right: 3%;
    bottom: 5%;
    left: unset;
  }
  .hobbies .card-body a:hover {
    text-decoration: underline;
  }
  .faqs > article:first-child {
    align-items: center;
  }
  .faqs > article:first-child p {
    width: 70%;
  }
  .faqs .accordion-button {
    padding: 3% 1.5%;
    font-size: 18px;
    color: #555;
    font-weight: 600;
  }
  footer {
    padding: 2% 1%;
  }
  footer ul {
    width: 40%;
    padding: 1%;
  }
  footer ul a {
    transition: 0.3s;
  }
  footer ul a:hover {
    color: #4CACBC;
  }
}/*# sourceMappingURL=home.css.map */