// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css');

// Libre Baskerville Font
$FontFamily_L : 'Libre Baskerville', serif;
// Opensans Font
$FontFamily_O : 'Open Sans', sans-serif;

// Colors (We can also use achromatic color like black, gray, whitesmoke, white..)
$bgColor : #F6E3C5;
$bgMainColor : #6CC4A1;
$bgSubColor : #A0D995;
$bgBtnColor : #4CACBC;
