@media (min-width: 300px) {

  nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3% 5%;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 2px -2px gainsboro;
    z-index: 1;
    position: fixed;

    > a{
      text-transform: uppercase;
      font-family: $FontFamily_L;
      font-size: 28px;
      margin: 0;
      color: $bgMainColor;
      letter-spacing: -1px;

      &:hover{
        color: $bgMainColor;
      }
    }

    > ul{
      display: none;
    }
  }

  details{
    position: relative;
    text-align: right;
    width: 50%;

    > summary{
      list-style: none;

      i{
        font-size: 28px;
        color: $bgMainColor;
      }
    }

    > ul{
      @include flexBox;
      position: absolute;
      top: 160%;
      width: 100%;
      border-radius: 20px;
      z-index: 1;
    }

    li{
      display: flex;
      width: 100%;
      list-style: none;
      background-color: rgba($color: $bgMainColor, $alpha: 0.9);

      &:last-child a{
        border-bottom: none;
      }
    }

    a{
      width: 100%;
      text-decoration: none;
      text-transform: uppercase;
      color: white;
      padding: 3% 5%;
      border-bottom: 1px solid white;
      letter-spacing: 0.5px;
      font-size: 18px;
      font-weight: 100;

      &:hover{
        color: white;
        text-decoration: underline;
      }
    }
  }

  header{
    @include bgPic ("/img/fishing/bg-header.jpg");
    height: 45vh;

    section{

      height: 100%;
      background-color: rgba($color: #333, $alpha: 0.3);
      @include flexBox;
      justify-content: center;
      align-items: center;

      h2{
        margin: 0;
        padding-top: 7vh;
        color: whitesmoke;
        font-size: 28px;
        text-transform: capitalize;
      }

      p{
        margin: 0;
        color: $bgMainColor;
        text-transform: capitalize;
        padding-top: 0.5vh;
        padding-bottom: 5vh;
      }

      a{
        background-color: $bgBtnColor;
        color: white;
        padding: 2% 4%;
        border-radius: 10px;

        &:hover{
          color: white;
        }
      }
    }
  }

    main {
        padding-bottom: 10vh;

        > nav {
            display: none;
        }

        > section {
            row-gap: 5vh;
        }
    }

    

    p {
        font-size: 20px;
        color: gray
    }

    img {
        width: 100%;
        height: 30vh;
    }

    .tytle-section {
        @include flexBox;
        justify-content: center;
        width: 100%;
        row-gap: 3vh;

        h2 {
            text-align: center;
        }

        p {
            text-align: center;
        }
    }

    .about {
        @include flexBox;
        align-items: center;
        row-gap: 5vh;
        

        > article:last-child {
            @include flexBox;
            row-gap: 5vh;
            // width: 100%;

            figure {
                @include flexBox;
                row-gap: 5vh;
            }

            img {
                width: 100%;
            }

            p {

                text-align: justify
            }
        }
    }

    .style {
        width: 100%;

        > article:last-child {
            @include flexBox;
            align-items: center;
            width: 100%;
        }

        figure {
            @include flexBox;
            row-gap: 2vh;
            padding: 2vh;
            border: 1px solid gray;
            row-gap: 0;
            width: 100%;

            aside {
                @include flexBox;
                justify-content: center;
                align-items: center;
            }

            figcaption {
                display: none;
            }
        }

        img {
            position: relative;
            height: 30vh;
        }

        h3 {
            position: absolute;
            color: white;
            padding: 1%;
            background-color: rgba(80, 80, 80, .3);
        }
    }

    .how-to {

        h3 {
            background-color: $bgMainColor;
            border-radius: 15px;
            width: 50%;
            padding: 2vh;
            text-align: center;
        }

        figure {
            @include flexBox;
            row-gap: 3vh;
            align-items: center;

            > img {
                width: 100%; 
            }

            > figcaption {
                @include flexBox;
                align-items: center;
                width: 100%;

            }

            h4 {
                text-align: center;
                width: 100%;
                padding: 1vh;
                border-radius: 15px;
                width: 70%;
                margin: 0;
                background-color: $bgSubColor;
            }
        }

        .tools, .attention {
            @include flexBox;
            align-items: center;
            row-gap: 2vh;
            width: 100%;
        }

        .attention {
            > section {
                @include flexBox;
                row-gap: 5vh;
                padding-left: 5%;
                padding-right: 5%;
            }
        }

        div {
            @include flexBox;
            align-items: center;
            text-align: center;
            border: 1px dashed red;
            background-color: $bgSubColor;
        }

        h5 {
            font-size: 20px;
            color: red;
            background-color: yellow;
            width: 100%;
        }

        
    }

    .carousel-indicators {
        z-index: 0;
    }

    .carousel-item {
        height: 80vh;
    }

    .carousel-item:first-child {
        @include flexBox;
        justify-content: center;

        > img {
            width: 100%;
            height: 30vh;
        }
        
    }

    .carousel-item:nth-child(2) {

        > img {
            width: 100%;
            height: 70vh;
        }
        
    }

    .carousel-item:nth-child(3) {

        > img {
            width: 100%;
            height: 70vh;
        }
        
    }

    .carousel-item:nth-child(4) {

        > img {
            width: 100%;
            height: 70vh;
        }
        
    }

    .carousel-item:last-child {

        > img {
            width: 100%;
            height: 70vh;
        }
        
    }

    .news {

        > article:last-child {
            @include flexBox;
            border: 1px solid gray;
        }

        div {
            display: flex;
            justify-content: space-between;
            column-gap: 2vh;
            border-bottom: 1px solid gray;
            align-items: center;
        }

        time {
            padding: 1vh;
        }

        a {
            padding: 1vh;
            text-decoration: underline;
        }
    }

    footer{
        background-color: white;
        padding: 5% 3%;
        @include flexBox;
        align-items: center;
        row-gap: .5vh;
    
        ul{
          display: flex;
          width: 60%;
          justify-content: space-between;
          margin: 0;
          padding: 0;
          padding-top: 3%;
          padding-bottom: 5%;
        }
    
        a{
          font-size: 24px;
          color: $bgMainColor;
        }
    
        p{
          margin: 0;
          color: $bgMainColor;
          font-size: 14px;
          text-align: center;
        }
      }
}