@media(min-width:700px){

    details{
        width: 40%;

        summary{
            font-size: 34px;
        }

        li{
            a{
                font-size: 20px;

            }
        }
    }

    header{
        > section{
            > h2{
                font-size: 33px;
            }

            > p{
                font-size: 22px;
            }

            > a{
                font-size: 20px;
            }
        }
    }

    main{
        > section{
            padding-top: 10%;
            padding-bottom: 10%;
            row-gap: 30px;
        }
    }


    .section-title{
        p{
            font-size: 20px;
        }
    }

    // series start

    .series{
        padding-top: 10%;

        div{
            display: flex;
        }
    }

    .series-body{
        width: 100%;

        > div{
            display: flex;
            justify-content: center;
            align-items: center;
        }
       
    }

    .port-row{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 30px;


        > div{
            width: 30%;
            padding-bottom: 0;
        }
    }

    .port-item{
        @include FlexBox;
        width: 100%;
    }

    .port-caption{

        h3{
            width: 100%;
            text-align: center;
        }
    }

    .port-link{
        position: relative;

        > aside{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(108, 196, 161, .7);
            top: 0;
            left: 0;
            color: $bgColor; text-align: center;
            opacity: 0;
            transition: .4s;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &:hover, &:focus{
            > aside{
                opacity: 1;
            }
        }
        
    }

    // series end

    // schdule start

    .schedule-body{
        figure{
            flex-direction: row;
            column-gap: 50px;
            align-items: center;
            justify-content: center;

            > div{
                width: 50%;
                height: 25vh;
            }

            img{
                width: 100%;
                height: 100%;
            }

            figcaption{
                width: 50%;
                
            }

            p{
                font-size: 18px;
            }
        }

    }
    
    .news-body{
        span{
            font-size: 24px;
        }

        p{
            font-size: 20px;
        }

        a{
            width: 30%;
            font-size: 22px;
        }

        [value="view more articles"]{
            font-size: 22px;
            padding-top: 2%;
            padding-bottom: 2%;
        }
        
    }

    .contact{
        > article:first-child{
            h2{
                font-size: 26px;
            }

            p{
                font-size: 20px;
            }
        }

        form{
            input, textarea{
                font-size: 20px;
            }
            [type="submit"]{
                width: 35%;
            }
        }
    }
    
    footer{
        ul{
          width: 50%;
          padding-bottom: 3%;
        }
    
        a{
          font-size: 40px;
        }
    
        p{
          font-size: 18px;
        }
      }
    
}