
@media (min-width:300px){

    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 3% 5%;
        width: 100%;
        background-color: white;
        box-shadow: 0 4px 2px -2px gainsboro;
        z-index: 1;
        position: fixed;

        > a{
            font-family: $FontFamily_L;
            text-transform: uppercase;
            font-size: 28px;
            margin: 0;
            color: $bgMainColor;
            letter-spacing: -1px;

            &:hover{
                color: $bgMainColor;
            }

        }

        > ul{
            display: none;
        }
    }
    
    details{
        position: relative;
        text-align: right;
        width: 70%;

        > summary{
            list-style-type: none;
            font-size: 28px;
            color: $bgMainColor;
        }

        > ul{
            @include FlexBox;
            position: absolute;
            top: 160%;
            width: 100%;
            border-radius: 20px;
            z-index: 1;
        }

        li{
            display: flex;
            width: 100%;
            list-style: none;
            background-color: rgba($color: $bgMainColor, $alpha: 0.9);
    
            &:last-child a{
                border-bottom: none;
            }

            a{
                width: 100%;
                text-decoration: none;
                text-transform: uppercase;
                color: white;
                padding: 3% 5%;
                border-bottom: 1px solid white;
                letter-spacing: 0.5px;
                font-size: 18px;
                font-weight: 100;
        
                &:hover{
                color: white;
                text-decoration: underline;
                }
            }
        }

    }

    main{
        @include FlexBox;

        > section{
            @include FlexBox;
            padding-top: 15%;
            padding-bottom: 15%;
        }
    }

    .events{
        padding-top: 25%;
    }
    
    .section-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;

        h2{
            font-weight: 600;
            text-align: center;

        }

        p{
            font-size: 16px;
            text-align: center;
            color: gray;
        }
    }

    img{
        width: 100%;
    }

}
