@media (min-width: 300px){
  // NAVIGATION
  nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3% 5%;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 2px -2px gainsboro;
    z-index: 1;
    position: fixed;

    > a{
      text-transform: uppercase;
      font-family: $FontFamily_L;
      font-size: 28px;
      margin: 0;
      color: $bgMainColor;
      letter-spacing: -1px;

      &:hover{
        color: $bgMainColor;
      }
    }

    > ul{
      display: none;
    }
  }

  details{
    position: relative;
    text-align: right;
    width: 50%;

    > summary{
      list-style: none;

      i{
        font-size: 28px;
        color: $bgMainColor;
      }
    }

    > ul{
      @include FlexBox;
      position: absolute;
      top: 160%;
      width: 100%;
      border-radius: 20px;
      z-index: 1;
    }

    li{
      display: flex;
      width: 100%;
      list-style: none;
      background-color: rgba($color: $bgMainColor, $alpha: 0.9);

      &:last-child a{
        border-bottom: none;
      }
    }

    a{
      width: 100%;
      text-decoration: none;
      text-transform: uppercase;
      color: white;
      padding: 3% 5%;
      border-bottom: 1px solid white;
      letter-spacing: 0.5px;
      font-size: 18px;
      font-weight: 100;

      &:hover{
        color: white;
        text-decoration: underline;
      }
    }
  }
  // HEADER
  header{
    position: relative;
    padding-top: 5vh;
  }

  .carousel-inner{
    height: 40vh;

    aside{
      width: 100%;
      height: 40vh;
      @include bgAttribute;
    }

    figure:nth-child(1){
      aside{
        background-image: url("/img/home/cycling01.jpg");
      }
    }
    figure:nth-child(2){
      aside{
        background-image: url("/img/home/fishing01.jpg");
      }
    }
    figure:nth-child(3){
      aside{
        background-image: url("/img/home/workout01.jpg");
      }
    }
  }

  .text-hd{
    background-color: rgba($color: #000000, $alpha: 0.7);
    position: absolute;
    top: 0;
    height: 45vh;
    @include FlexBox;
    justify-content: center;
    padding-top: 14%;
    text-align: center;

    article{
      padding: 3%;
      @include FlexBox;
      align-items: center;
      row-gap: 3.5vh;

      &:first-child{
        display: none;
      }
    }

    h2{
      margin: 0;
      color: $bgMainColor;
      font-size: 26px;
      font-weight: 300;
      padding-top: 2%;
    }

    p{
      margin: 0;
      color: whitesmoke;
      width: 90%;
      text-align: center;
      font-weight: 300;
    }

    a{
      background-color: $bgBtnColor;
      color: white;
      padding: 2% 4%;
      border-radius: 10px;
      text-transform: uppercase;
      letter-spacing: .5px;
    }
  }

  .about{
    > figure{
      background-color: $bgColor;
      @include FlexBox;
      text-align: center;

      aside{
        @include bgAttribute;
        background-image: url("/img/home/about.jpg");
        width: 100%;
        height: 30vh;
      }

      figcaption{
        @include FlexBox;
        row-gap: 3vh;
        padding: 7% 5%;
      }

      h2{
        padding-top: 3%;
        margin: 0;
        font-size: 21px;
        color: #333;
        font-weight: 600;
      }

      p{
        margin: 0;
        padding-bottom: 3%;
        color: #555;
      }
    }
  }

  .hobbies{
    @include FlexBox;
    row-gap: 5vh;

    article{
      > section{
        @include FlexBox;
        align-items: center;
        justify-content: center;
        row-gap: 3vh;
        width: 100%;
        background-color: rgba($color: #000000, $alpha: 0.6);
        padding: 5vh 3vh 3vh 3vh;
      }

      aside{
        @include bgAttribute;
        width: 100%;
        height: 30vh;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }

      &:nth-child(1) aside{
        background-image: url("/img/home/cycling02.jpg");
      }
      &:nth-child(2) aside{
        background-image: url("/img/home/fishing02.jpg");
      }
      &:nth-child(3) aside{
        background-image: url("/img/home/workout02.jpg");
      }

      [aria-expanded=true]{
        i{
          font-size: 40px;
          color: $bgSubColor;
          animation-name: rotate;
          animation-duration: .2s;
          animation-fill-mode: forwards;
        }
      }
      [aria-expanded=false]{
        i{
          font-size: 40px;
          color: whitesmoke;
          animation-name: re-rotate;
          animation-duration: .2s;
          animation-fill-mode: backwards;
        }
      }
    }

    h2{
      font-size: 26px;
      color: $bgMainColor;
      margin: 0;
      text-transform: capitalize;
      font-weight: 300;
    }

    p{
      border-radius: 0;
      row-gap: 3vh;
      align-items: center;
      font-size: 16px;
      color: #555;
      @include FlexBox;
      border-radius: 20px;

      a{
        text-transform: uppercase;
        color: $bgMainColor;
      }
    }
  }

  .cycling{
    background-image: url("/img/home/cycling_texture.jpg");
    @include bgAttribute;
  }
  .fishing{
    background-image: url("/img/home/fishing_texture.jpg");
    @include bgAttribute;
  }
  .workout{
    background-image: url("/img/home/workout_texture.jpg");
    @include bgAttribute;
  }

  .faqs{
    @include FlexBox;
    
    > article:first-child{
      background-color: $bgColor;
      padding: 5%;
      @include FlexBox;
      text-align: center;
      row-gap: 3vh;

      h2{
        padding-top: 3%;
        margin: 0;
        font-size: 21px;
        color: #333;
        font-weight: 600;
      }

      p{
        margin: 0;
        padding-bottom: 3%;
        color: #555;
      }
    }

    > article:last-child{
      padding: 3%;
      background-color: $bgSubColor;
      @include FlexBox;
      align-items: center;
      row-gap: 3vh;
    }
    
    .accordion-item{
      border-color: transparent;
      border-bottom: 2px solid $bgSubColor;

      &:last-child{
        border: none;
      }
    }

    .accordion{
      width: 100%;
    }

    .accordion-button{
      padding: 5% 3%;
      font-size: 18px;
      color: #555;
      font-weight: 600;
    }
  }

  // FOOTER
  footer{
    background-color: white;
    padding: 5% 3%;
    @include FlexBox;
    align-items: center;
    row-gap: .5vh;

    ul{
      display: flex;
      width: 60%;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      padding-top: 3%;
      padding-bottom: 5%;
    }

    a{
      font-size: 24px;
      color: $bgMainColor;
    }

    p{
      margin: 0;
      color: $bgMainColor;
      font-size: 14px;
      text-align: center;
    }
  }
}