*{
    padding: 0;
    margin: 0;
    font-family: $FontFamily_O;
    box-sizing: border-box;

}

*::before,
*::after {
  box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    background-color: var($bgMainColor);
}

// main{

// }

h1, h2, h3{
    color: $bgMainColor;
}

p, span, small, h3{
    font-family: $FontFamily_O;
}


a{
    text-decoration: none;
  }
  
  a:hover{
    text-decoration: none;
  }
  
  li{
    list-style: none;
  }